<h2>Por Region</h2>

<div class="row">
  <div class="col text-center">
    <!-- search box -->
    <button
      *ngFor="let region of regions"
      class="btn mx-2"
      [ngClass]="{ 'btn-primary': region === selectedRegion }"
      (click)="searchByRegion(region)"
    >
      {{ region }}
    </button>
  </div>
</div>

<div class="row">
  <div class="col">
    <!-- search results -->
    <hr />
    <shared-loading-spinner *ngIf="isLoading" />
    <countries-table [countries]="countries" />
  </div>
</div>
